@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap:100,200,300,400,500,600,700');

body {
    font-family: "Montserrat", sans-serif;
}

/*--------------------------------------------Heading*/

.homepage {
    background-attachment: fixed;
    background-image: url('assets/images/h0mp4ge.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

header {
    margin: 0;
}

.heading {
    margin-left: 30px;
    height: 140px;
}

.title {
    font-weight: 100;
    font-size: 52px;
    margin-top: 20px;
    color: #fff;
    float: left;
}

.sub-title {
    font-weight: 100;
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
    float: left;
    position: relative;
}

.col-bg {
    background-color: #454343;
}
/*--------------------------------------------Nav-bar*/
.navbar {
    max-width: 100%;
}

.navbar_style {
    background-color: #454343;
    text-transform: uppercase;font-weight: 200;
    letter-spacing: 1.5px;
    text-align: center;
}

.hvr-shutter-out-horizontal:before {
    background-color: #454343;
}

/*--------------------------------------------Footer*/


.general-sub {
    font-weight: 200;
    color: white;
    font-size: 20px;
    margin-top: 30px
}

.inline-block {
    display: inline-block;
}

footer {
    background-color: #6C6C6C;
    color: white;
    min-height: 150px;
    margin: 0px;
    position: absolute;
    width: 100%
}

.video-icon {
    border-radius: 50%;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 14px;
    color: white;
}

.click {
    font-weight: 200;
    color: white;
    font-size: 20px;
}

.links {
    font-weight: 200;
    color: white;
    font-size: 20px;
    margin-top: 30px
}

.hkt-link {
    display: block;
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    text-decoration: none;
    color: white;
    
}

.prada-link {
    display: block;
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    text-decoration: none;
    color: white;
}


/*--------------------------------------------History*/


.history-title {
    font-weight: 500;
    letter-spacing: 3px;
    padding-left: 40px;
    text-transform: uppercase;
    font-size: 2.5em;
}

.history {
    color: #6C6C6C;
    font-size: 1.2em;
}

#history-1 {
    color: #6C6C6C;
    margin-bottom: 70px
}

/*--------------------------------------------Jackets*/

.jackets-title {
    font-weight: 500;
    letter-spacing: 3px;
    padding-left: 40px;
    text-transform: uppercase;
    font-size: 2.5em;
    padding-top: 35px;
}

#j-p {
    overflow: hidden;
    padding-top: 300px;
    width: 980px;
    margin: 0 auto;
}

.j-p-1 {
  float: left;
  width: 33.33%;
  padding: 0px;
  margin-top: 30px;
 margin-bottom: 50px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.jackets-text {
    padding-left: 40px;
}

.sub-jackets-colour {
    font-weight: 400;
    letter-spacing: 2px;
    padding-left: 40px;
    text-transform: uppercase;
    font-size: 1.3em;
}

.sub-jackets-style {
    font-weight: 400;
    letter-spacing: 2px;
    padding-left: 40px;
    text-transform: uppercase;
    font-size: 1.3em;
}

.jackets-colour {
    color: #6C6C6C;
    font-size: 1.2em;
    padding-bottom: 30px;
}

.jackets-style {
    color: #6C6C6C;
    font-size: 1.2em;
}


/*--------------------------------------------Trousers*/


.trousers-title {
    font-weight: 500;
    letter-spacing: 3px;
    padding-left: 40px;
    text-transform: uppercase;
    font-size: 2.5em;
    padding-top: 100px;
}

.trouers-text {
    color: #6C6C6C;
    font-size: 1.2em;
    padding-bottom: 50px;
}

.t-p-1 {
    float: right;
    padding: 0px;
    
}


/*--------------------------------------------Accesories*/


.acceseries {
    padding-bottom: 4rem; 
}

.last-row {
    margin-bottom: 200px;
}

.accesories-title {
    font-weight: 500;
    letter-spacing: 3px;
    padding-left: 40px;
    text-transform: uppercase;
    font-size: 2.5em;
    padding-top: 100px;
}

.col-xs-6 {
    align-items: center;
}

.card {
    border-radius: 1.5%;
    width: 30em;
    height: 33em;
    top: 50%;
    left: 10%;
    margin: 15%;
    padding: 15px;
    align-items: center;
    z-index: 2;
    display: block;
    opacity: 0.8;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.acceseries-card-title {
    font-weight: 400;
    letter-spacing: 2px;
    padding-left: 40px;
    text-transform: uppercase;
    font-size: 1.2em;
}

.acceseries-card-text {
    color: #6C6C6C;
    font-size: 1em;
    font-weight: bold;
    background-color: #F6F2EF;
}

.shirt-card {
    background-attachment: scroll;
    background-image: url('assets/images/shirt-1.jpg');
    background-color: #F6F2EF;
    background-position: center;
    background-size: 70%;
    margin-bottom: 0px;
    z-index: 1;
    background-repeat: no-repeat;
}

.waistcote-card {
    background-attachment: scroll;
    background-image: url('assets/images/waistcote-1.jpg');
    background-color: #F6F2EF;
    background-position: center;
    background-size: 70%;
    margin-bottom: 0px;
    z-index: 1;
    background-repeat: no-repeat;
}

.shoes-card {
    background-attachment: scroll;
    background-image: url('assets/images/shoes-1.jpg');
    background-color: #F6F2EF;
    background-position: center;
    background-size: 70%;
    margin-bottom: 0px;
    z-index: 1;
    background-repeat: no-repeat;
}

.bow-tie-card {
    background-attachment: scroll;
    background-image: url('assets/images/bow-tie-1.jpg');
    background-color: #F6F2EF;
    background-position: center;
    background-size: 70%;
    margin-bottom: 0px;
    z-index: 1;
    background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}